# 🔒 Fichiers contenant des mots de passe ou des clés secrètes
.env
config.json
settings.yaml
secrets.toml
private_key.pem
.streamlit/secrets.toml
create_credentials.py

# 🔹 Dépendances et environnement virtuel
venv/
smartyield-env/
.idea/
.vscode/

# 🔹 Fichiers temporaires et caches
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
temp/
cache/

# 🔹 Logs et bases de données locales
logs/
*.log
*.sqlite

# 🔹 Modèles d’apprentissage automatique
model/
*.pkl
*.h5
*.pt

# 🔹 Fichiers CSV ou Excel contenant des données sensibles
data/
*.csv
*.xlsx

# 🔹 Streamlit et ses fichiers de sessions
.streamlit/
script.py